#outer_header .top_sec{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075b2', endColorstr='#6fb1d4',GradientType=0 ); /* IE6-9 */
}
.outer_account{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222326', endColorstr='#34353a',GradientType=0 ); /* IE6-9 */
}
.outer_nav{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222326', endColorstr='#34353a',GradientType=0 ); /* IE6-9 */
}